.c-section {
  padding-bottom: $inuit-global-spacing-unit-huge;
  &__title {
    font-size: $fs-60;
    font-family: 'Monoton-Regular';
    text-transform: uppercase;
    border-bottom: 3px solid $color-secondary;
    text-shadow: -11px -11px 0px $color-secondary
  }
  &__content {
    display: block;
    padding: $inuit-global-spacing-unit-huge $inuit-global-spacing-unit-large;
  }
}
