.c-word {
  &__letter, &__letter-wrap {
    display: block;
    position: relative;
    z-index: 100;
  }
  &__letter {
    pointer-events: none;
    &:not(:last-child) {
      position: absolute;
      color: $color-gray-30;
      opacity: 0;
    }
  }
}








