<h2 class="c-title">Ejemplos</h2>
<section class="c-section">
  <h3 class="c-subtitle">Botones</h3>
  <div class="c-section__content">
    <button class="c-btn">Normal</button>
    <button class="c-btn c-btn--flush">Flush</button>
    <button class="c-btn c-btn--tiny">Tiny</button>
    <button class="c-btn c-btn-small">Small</button>
    <button class="c-btn c-btn--large">Large</button>
    <button class="c-btn c-btn--huge">Huge</button>


    <button class="c-btn c-btn--success">Success</button>
    <button class="c-btn c-btn--error">Error</button>
    <button class="c-btn c-btn--info">Info</button>
    <button class="c-btn c-btn--warning">Warning</button>
  </div>
</section>

<section class="c-section">
  <h3 class="c-subtitle">Botones Angular</h3>
  <div class="c-section__content">
    <app-button>Normal</app-button>
    <app-button [buttonSize]="'flush'">Flush</app-button>
    <app-button [buttonSize]="'tiny'">Tiny</app-button>
    <app-button [buttonSize]="'small'">Small</app-button>
    <app-button [buttonSize]="'large'">Large</app-button>
    <app-button [buttonSize]="'huge'">Huge</app-button>


    <app-button [buttonState]="'success'">Success</app-button>
    <app-button [buttonState]="'error'">Error</app-button>
    <app-button [buttonState]="'info'">Info</app-button>
    <app-button [buttonState]="'warning'">Warning</app-button>
  </div>
</section>


<section class="c-section">
  <h3 class="c-subtitle">Titulos</h3>
  <div class="c-section__content">

  </div>
</section>
