<div class="c-main">
  <p>Faaaaa</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6"><p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
      ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
      ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p></div>
    <div class="col-6"><p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
      ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
      ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p></div>
  </div>
</div>
